:root {
  box-sizing: border-box;
  
  /* Colours */
  --vivid-sky-blue: hsl(194, 85%, 62%);
  --ultramarine-blue:hsl(229, 83%, 60%);
  --trypan-blue: hsl(258, 86%, 34%);
  --purple: hsl(276, 91%, 38%);
  --flickr-pink: hsl(333, 93%, 56%);
  background-color: white;
  color: black;

  /* Fonts */
  font-family: 'Open Sans', Verdana, sans-serif;
  font-size: 20px;
  line-height: 1.6rem;
}

html, body {
  margin: 0;
  padding: 0;
}

/* All screen sizes */

.waiting {
  width: 100vw;
  height: 100vh;
  background-image: url("/img/mykyta-martynenko-k7lWhRlO53U-unsplash.jpg");
  background-size: cover;
}

.section {
  border: 0;
  padding: 1em;
}

h1, h2, h3 {
  font-weight: 700;
}

a:link, a:visited {
  color: black;
  text-decoration: none;
}

a:hover, a:active {
  color: var(--flickr-pink);
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  position: relative;
  height: 
}

.nav {
  list-style-type: none;
  background-color: white;
  position: absolute;
  z-index: 1;
  right: 0;
  padding: 1rem 2rem 1rem 2rem;
  min-width: 160px;
  min-width: 160px;
  box-shadow: -16px 16px 10px 0px rgba(0,0,0,0.5);
}

.nav__item {
  padding: .6rem .6rem;
  text-decoration: none;
}

.nav__item--cta {
  margin: .5rem 0;
}

.nav__item--cta a {
  background-color: black;
  font-weight: 700;
  color: white;
  padding: .75rem 1rem;
  border-radius: 5px;
}

.hero {
  position: relative;
  border: 0;
  padding: 0;
  color: white;
}

.hero img {
  width: 100%;
}

.hero__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}

#skills {
  background-color: white;
}

#tally-investment-records {
  background-color: var(--ultramarine-blue);
}

#collected-wisdom {
  background-color: var(--trypan-blue);
}

#my-other-life {
  background-color: var(--purple);
}

#final {
  background-color: var(--flickr-pink);
}

.footer {
  background-color: black;
  color: white;
}

/* Break at Width 990 */

/* Break at Width 766 */
@media only screen and (max-width: 766px) {
  .waiting {
    background-size: 275vw;
    position:absolute;
    left: -20vw;
    width: 120vw;
  }
}

/* Break at Width 478 */